Django==5.0.2 # https://docs.djangoproject.com/en/5.0/
djangorestframework==3.14.0 # https://www.django-rest-framework.org/
psycopg==3.1.18 # https://www.psycopg.org/
redis==5.0.1 # https://github.com/redis/redis-py
celery==5.3.6 # https://docs.celeryq.dev/en/v5.3.6/
django-cors-headers==4.3.1 # https://github.com/adamchainz/django-cors-headers
whitenoise==6.6.0 # https://whitenoise.readthedocs.io/en/latest/#
python-dotenv==1.0.1 # https://github.com/theskumar/python-dotenv
